/* ****************
*Global*
*******************/
* {
  margin: 0;
}
.container {
  max-width: 1060px;
  margin: 0 auto;
  justify-content: center;
}
h1 {
  font-size: larger;
}
h2,
h4 {
  text-transform: uppercase;
  color: #ff5656;
}
.formation ul li h3::before {
  content: " ";
  width: 10px;
  height: 10px;
  background: #ff5656;
  display: inline-block;

  transform: rotate(45deg);
  margin-right: 15px;
}
/* ****************
*header*
*******************/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.801)),
    url(./image/laptop-1839876_1920.jpg);
  text-align: center;
  text-transform: uppercase;
  background-position: bottom;

  background-size: cover;
  position: relative;
  padding: 80px;
}
header h1 {
  font-size: 70px;
  margin: 0;
  color: #ff5656;
}
header h2 {
  font-size: medium;
  letter-spacing: 5px;
  margin-top: 0;
  color: white;
  padding-bottom: 80px;
}

/* ****************
*main*
*******************/

/* ****************
*aside global*
*******************/
aside {
  margin: 0;
  width: 40%;
  background: #d6d6d6;
  padding: 40px 30px;
}
aside .profil,
aside .formation,
aside .coordonnee {
  padding: 50px 0;
}
aside .profil h2,
aside .formation h2,
aside .coordonnee h2 {
  padding-bottom: 30px;
  padding-right: 80px;
}

/* **************formation************ */

aside .formation ul li h4 {
  font-size: 10px;
}
aside .formation ul li p {
  margin-bottom: 40px;
}

/* ******************coordonnées**************/

aside .coordonnee ul li {
  padding: 15px;
}
aside .coordonnee ul li i {
  color: #ff5656;
  padding-right: 20px;
}
/* ****************
*experience pro
*******************/
main .container {
  display: flex;
}
main .container .experiencePro {
  padding: 80px;
}
main .container .experiencePro h2 {
  padding-bottom: 50px;
}
.formation ul li h4,
.formation ul li p {
  padding: 0 30px;
}

main .container .experiencePro p {
  padding-top: 30px;
  padding-bottom: 80px;
}

/* ******************competence************** */

main .competence ul li::before {
  content: " ";
  background: #ff5656;
  height: 100px;
  width: 30px;
  display: inline-block;
  margin: 30px;
}

main .competence ul {
  display: flex;
  padding: 20px 0;
  margin-top: 30px;
  border: solid 2px gray;
  border-right: none;
  border-top: none;
  text-align: center;
}
main .competence div p {
  font-size: 13px;
}
main .competence h2 {
  padding-top: 30px;
}
